/*
  Variaveis para cores::after
    --fundo-principal
    --texto
    --texto-inverso
    --destaque
    --detaque-inverso
    --fundo-card
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0a3666;
    --detaque-inverso: #66bbff;
    --fundo-card: #ffffff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav#menu a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.1s;
}

nav#menu a:hover {
    background-color: var(--detaque-inverso);
    color: var(--destaque);
}