/*
  Variaveis para cores::after
    --fundo-principal
    --texto
    --texto-inverso
    --destaque
    --detaque-inverso
    --fundo-card
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0a3666;
    --detaque-inverso: #418ac7;
    --fundo-card: #ffffff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav#menu a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.1s;
}

nav#menu a:hover {
    background-color: var(--detaque-inverso);
    color: var(--destaque);
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 20px;
}

section#ficha {
    background-color: var(--fundo-card);
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;
}

section#ficha img.foto {
    width: 200px;
    /* dimensiona. ex: 9/16 */
    aspect-ratio: 1/1;
    /* "esconde" sobra*/
    overflow: hidden;
    border: 5px solid var(--fundo-card);
    border-radius: 50%;
    outline: 5px solid var(--destaque);
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

h1 {
    color: var(--destaque);
    margin: 15px 0;
    font-size: 1.8;
    text-align: center;
}

div#social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-top: 10px;
}

div#social .iconesContato {
    font-size: 3em;
    color: var(--texto);
    transition: color 0.3s;
}

div#social .iconesContato:hover {
    color: var(--detaque-inverso);
}


section#detalhes {
    grid-column: 2;
}

article {
    background-color: var(--fundo-card);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

article h2 {
    color: var(--destaque);
    margin-bottom: 10px;
}

#skill-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 15px 0;
}

#skill-conteiner .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skill-conteiner .nome {
    font-weight: bold;
    color: var(--texto);
}

#skill-conteiner .porcent {
    font-weight: bold;
    color: var(--destaque);
}

#skill-conteiner .barra {
    width: 100%;
    height: 8px;
    background-color: var(--fundo-principal);
    border-radius: 4px;
}

#skill-conteiner .progresso {
    height: 100%;
    background-color: var(--detaque-inverso);
    border-radius: 4px;
}

#linuxIcone {
    display: inline;
    font-size: 1.4em;
}

#jsIcone {
    display: inline;
    font-size: 1.3em;
}

#formacao-conteiner {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

#formacao-conteiner .curso {
    background-color: var(--fundo-principal);
    border-radius: 8px;
    border-left: 5px solid var(--detaque-inverso);
    padding-left: 15px;
    transition: border-width 0.5s, color 0.3s;
}

#formacao-conteiner .curso:hover {
    border-left-width: 10px;
    border-color: var(--destaque);
    cursor: pointer;
}

#formacao-conteiner .periodo {
    font-size: 0.8;
    font-weight: bold;
    color: var(--texto);
}

#formacao-conteiner .instituicao {
    color: var(--detaque-inverso);
    font-size: 1.1em;
}

#formacao-conteiner .titulacao {
    color: var(--texto);
    font-size: 1.1em;
}

#formacao-conteiner .topicos {
    padding: 5px 0 10px 35px;
}

#projeto-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

#projeto-container .projeto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--fundo-principal);
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--detaque-inverso);
    transition: border-color 0.3s, border-width 0.3s;
}

#projeto-container .projeto:hover {
    border-color: var(--destaque);
    border-left-width: 15px;
    cursor: pointer;
}

#projeto-container .foto {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {

    main {
        grid-template-columns: auto 300px 1fr auto;
    }

    section#ficha {
        grid-column: 2/3;
        height: fit-content;
        position: sticky;
        top: 65px;
    }

    section#detalhes {
        grid-column: 3/4;
    }

    #skill-conteiner {
        grid-template-columns: 1fr 1fr;
    }

    #formacao-conteiner {
        max-width: 90%;
    }

    #projeto-container .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 90%;
    }

    #projeto-container .projeto-info {
        max-width: 70%;
    }

    #projeto-container .foto {
        aspect-ratio: 1/1;
        max-width: 20%;
        max-height: 200px;
    }

}